
body {
  display: flex;
  box-pack: center;
  justify-content: center;
  box-align: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(22, 19, 33);
} 
#info{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    border-style:solid;
    border-radius: 10px;
    border-color: rgb(52, 141, 176);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
    background-color: #c2c2da;
    border-radius: 20px 5px 20px 5px;
    border: 2px solid #ffffff;
    padding: 20px;
    width: 1150px;
    height: 60px;
  }
li {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 50px;  /* spaces between the vm name, vm path, etc */
    border-radius: 50%;
    text-decoration: none;
}  
.button1 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 15px;
    border-radius: 50%;
  }

.start-stop-button {
  padding: 6px 10px;
  font-size: 16px;
  font-weight:bold;
  background-color: #4caf50; /* Green color for start */
  color: #000000;
  border: none;
  border-radius: 5px;
  outline: none;
}

.start-stop-button.running {
  background-color: #ff5722; /* Orange color for stop */
}


@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



a {
  text-decoration: none;
}

.btn {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, rgb(176, 15, 15) 0%, rgb(205, 27, 27) 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}


.btn::before {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: black;
  opacity: 0;
  content: '';
  animation: pulse 1s infinite;
}

.btn:hover::before {
  animation: none;
  opacity: .4;
  transform: scale(1.3);
}
.btn.is-clicked {
  background: linear-gradient(to bottom, gray 0%, dimgray 100%);
}
.btn.is-clicked:before {
  animation: blastOut 1s;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: .4;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes blastOut {
  from {
    transform: scale(0.9);
    opacity: .4;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}

/* EditButton.css (or include it in your existing CSS file) */
.edit-button {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #532d86;
  }

}



