.env
client\node_modules
.vscode
server/venv/
__pycache__/
client/package.json
client/yarn.lock
client/.eslintrc.cjs
client/vite.config.js
client/yarn.lock
client/.yarn/
client/.yarnrc.yml
venv/
new-client/node_modules
new-client/.pnp
new-client/.pnp.js
new-client/coverage
new-client/.next
new-client/.swc
new-client/_static
new-client/out
new-client/dist
new-client/build
new-client/.env
new-client/.env.local
new-client/.env.development.local
new-client/.env.test.local
new-client/.env.production.local
new-client/.DS_Store
new-client/.vercel
new-client/.netlify
new-client/.unimportedrc.json
new-client/tsconfig.tsbuildinfo
new-client/.vscode
new-client/npm-debug.log*
new-client/yarn-debug.log*
new-client/yarn-error.log*
