.env
client\node_modules
.vscode
server/venv/
__pycache__/
client/package.json
client/yarn.lock
client/.eslintrc.cjs
client/vite.config.js
client/yarn.lock
client/.yarn/
client/.yarnrc.yml
venv/
client/node_modules
client/.pnp
client/.pnp.js
client/coverage
client/.next
client/.swc
client/_static
client/out
client/dist
client/build
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/.DS_Store
client/.vercel
client/.netlify
client/.unimportedrc.json
client/tsconfig.tsbuildinfo
client/.vscode
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.yarn/
server/target/
server/Cargo.lock
socket/__pycache__
socket/server/__pycache__
socket/venv/
vmware_tools.egg-info/
